<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/enegy_cal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergyCalc"
        tools:targetApi="31">
        <activity
            android:name=".LUXMeter"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".AppInfo"
            android:exported="false" />
        <activity
            android:name=".UsageMultiple"
            android:exported="false" />
        <activity
            android:name=".AddEQinfo"
            android:exported="false" />
        <activity
            android:name=".VideoTips"
            android:exported="false" />
        <activity
            android:name=".EnergySavingTips"
            android:exported="false" />
        <activity
            android:name=".UCWattAmp"
            android:exported="false" />
        <activity
            android:name=".UCAmptoWatt"
            android:exported="false" />
        <activity
            android:name=".UnitConversion"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".CEBLocation"
            android:exported="false"
            android:label="@string/title_activity_ceblocation" />
        <activity
            android:name=".UsageAmperage"
            android:exported="false" />
        <activity
            android:name=".UsageWattage"
            android:exported="false" />
        <activity
            android:name=".MonthlyBill"
            android:exported="false" />
        <activity
            android:name=".HourlyUsage"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>